.filter-btn{
    margin-top: 6px;
    min-width: 100px;
}

div .dt-buttons{
    float : left;
}

.dataTables_length{
    float : left;
}

/* table.dataTable thead {background-color:#d5dbec}
table thead {background-color:#d5dbec} */

.title-style {
    position: relative;
    z-index: 3;
  }
  
  .title-style span {
    background-color: #fff;
    padding-right: 10px;
  }
  
  .title-style:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;
  }

  .topnavbarcolor {
    background-color:#1AC6D9;
}
/* .sidenavbarcolor {
  background-color: #4169e1;
  
} */

.sidenav-menu{
  background: #4169e1;
  box-shadow: inset 0px -1px 100px 10px rgb(0 0 0 / 20%);
  /* border-top: 1px solid rgb(255, 255, 255,0.1); */
  border-bottom: 1px solid rgb(255, 255, 255,0.1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  position: relative;
  top: 12px;
  left: 12px;
  margin-bottom: 26px;
}
.sidebarfooter-text-color{
  color: #ffffff;
  margin-bottom: 15px;
  margin-left: 10px;
}
.sidebarfooter-text-color:hover {
  color: #ececec;
  /* background-color: #2c2c0663; */
  border-radius: 20px;
}


.sidebar-text-color{
  color: #ffffff;
  margin-bottom: 15px;
  margin-left: 10px;
}
.sidebar-text-color:not(:first-child).active::before{
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 7.5px 7.5px 0 7.5px #FFFF00;
  border-color: transparent;
}
.sidebar-text-color:not(:first-child).active::after{
  content: '';
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 7.5px -7.5px 0 7.5px #FFFF00;
}
.topbarcolor{
  color: #ffffff;
}
.sidebar-text-color.active {
  font-weight: 600;
}
.sidebar-text-color:hover {
  color: #ececec;
  background-color: #2c2c0663;
  border-radius: 20px;
}
.sidebar-text-color.active {
  color: #000103;
  background-color: #FFFF00;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: 15rem;
  height: 100vh;
  z-index: 1038;
}


.nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 0.6rem;
  top: 3.625rem;
}
/* .layout-rtl.nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 0;
  padding-right: 15rem;
} */

.fix-width {
	overflow-y: auto;
	overflow-x: auto;
}

.panel {
	padding: 5px;
}

.scroll-inner {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar:horizontal {
		height: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparentize(#ffffff, 0.7);
        
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: #4169e1;
		box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
}
.scrollbar {
  float: left;
  /*    height: 300px;*/
  width: 100%;
  overflow-x: scroll;
}

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  padding-top: 40px;
  /*    width: 12px;*/
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #D62929;
}
.button-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100%;
}

/* nav bar css */
.dropdown-submenu {
  position: relative;
  
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu > a::after {
  content: ""; 
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid black; 
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  margin-top:  5px; 
  margin-left: 5px; 
  vertical-align: middle;
  position: absolute; 
  right: 5px; 
}

.dropdown-submenu > ul {
  left: 100%; 
  top: 0;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.navbtncolor{
  background-color: none;
  color: rgb(68, 68, 68);
  font-size: 11px;
  font-weight: 600;
  border-radius:85rem;
}
.navbtncolor:hover{
  /* background-color: rgba(26, 198, 217, 0.24); */
  color: #1AC6D9;
}
.dropdown-item{
  font-size: 11px;
}
/* @keyframes buttonHover {
  from { background-color: none; }
  to { background-color: rgba(216, 223, 115, 0.24); }
} */
.navbtnactive{
  
  color: #1AC6D9; 
  /* background-color: rgba(115, 142, 223, 0.24);
  border-color: #110770;   */

  /* animation: buttonHover 2s ease infinite; */
}
.submenulistpadding{
padding-left: 0px;
}

.dropdownmenucolor{
  background-color: rgb(255, 254, 253);
  color: black;
  box-shadow: 0 1.15rem 2.75rem 0 rgba(23, 33, 48, 0.15);
}


.custom-breadcrumb {
  background-color: transparent;
}

.custom-breadcrumb .breadcrumb-item .breadcrumb-link {
  color: rgb(0, 0, 0);
}

.custom-breadcrumb .breadcrumb-item:not(:last-child) + .breadcrumb-item::before {
  content: ''; 
}

.custom-breadcrumb .breadcrumb-item:not(:last-child):after {
  content: '/'; 
  color: #000; 
}

.breadcrumb ol {
  margin-bottom: 0rem;
}

.modal-fullscreen {
  max-width: 100%
}

/* .dt-buttons{
  display: inline-block;
  font-weight: 400;
  color: #687281;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dt-buttons .buttons-csv{
  color: #fff;
  background-color: #00ac69;
  border-color: #00ac69;
}
.dt-buttons .buttons-csv:hover:not(.disabled){
  color: #fff;
  background-color: #008652;
  border-color: #00794a;
}
.dt-buttons .buttons-print{
  background: -webkit-linear-gradient(top, rgb(255 255 255 / 78%) 0%, rgb(62 190 211) 100%);
  border-radius: 10px;
}
.dt-buttons .buttons-print:hover:not(.disabled){
  background: -webkit-linear-gradient(top, rgb(62 190 211) 100%, rgb(255 255 255 / 78%) 0%);
  border-radius: 10px;
  color: #000103;
}

.dt-buttons .buttons-pdf{
  color: #fff;
  background-color: #e81500;
  border-color: #e81500;
}
.dt-buttons .buttons-pdf:hover:not(.disabled){
  color: #fff;
  background-color: #c21200;
  border-color: #b51000;
}
.dt-buttons .buttons-excel{
  background: -webkit-linear-gradient(top, rgb(255 255 255 / 78%) 0%, rgb(71 211 62) 100%);
  border-radius: 10px;
}
.dt-buttons .buttons-excel:hover:not(.disabled){
  background: -webkit-linear-gradient(top, rgb(71 211 62) 100%, rgb(255 255 255 / 78%) 0%);
  border-radius: 10px;
  color: #000103;
} */
.page-header{
  margin-left: -0.4rem;
  /* margin-right: 0.6rem;
  margin-top: 0.8rem;
  border-radius: 0.35rem; */
  background-color: #fff;
  /* border-top-left-radius: 0px;
  border-bottom-left-radius: 80px; */
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

@media screen and (min-width: 300px) {
  .sidebar{
    position: fixed;
    left: -5rem;
    top: 3.5rem;
    bottom: 0;
    width: 78px;
    background: #fff;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
}
@media screen and (min-width: 300px) {
  .sidebar.open{
    left: 0rem;
  }
}


@media screen and (min-width: 768px) {
  .sidebar{
    position: fixed;
    /* left: 0.5rem;
    top: 4.5rem;
    bottom: 1rem; */
    /* height: 92%; */
    width: 78px;
    /* background: #4169e1; */
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;

    /* box-shadow: inset 0px -1px 100px 10px rgb(0 0 0 / 20%); */
    /* border-top: 1px solid rgb(255, 255, 255,0.1); */
    border-bottom: 1px solid rgb(255, 255, 255,0.1);
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px; */
  }
}



@media screen and (min-width: 992px) {
  .sidebar{
    position: fixed;
    left: 0rem;
    top: 3.5rem;
    bottom: 0;
    width: 78px;
    background: #fff;
    color: #1f2d41;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #1f2d41;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
/* .sidebar .nav-list{
  margin-top: 20px;
  height: 100%;  
} */
.sidebar .nav-list {
  margin-top: 20px;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar li{
  position: relative;
  /* margin: 8px 0; */
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  /* border-radius: 0.35rem; */
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: all 0.4s ease;
  color: #1f2d41;
  /* background: #11101D; */
}
.sidebar li a:hover{
  /* background: #1AC6D9; */
  color: #1AC6D9;
}
.sidebar li a:hover i {
  color: #1AC6D9; /* This changes the color of the icon */
}
.sidebar li a.active{
  color: #1AC6D9;
}
.sidebar li a.active i{
  color: #1AC6D9;
}
.sidebar li a .links_name{
  /* color: #fff; */
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  /* color: #11101D; */
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li i.active{
  background: #FFF;
  color: #000000;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0.5rem;
  /* bottom: -8px; */
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 248px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 74px;
  width: calc(100% - 74px);
  transition: all 0.5s ease;
  /* z-index: 2; */
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.sidebar .fa-angle-down {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.sidebar.open .fa-angle-down {
  opacity: 1;
}
.sidebar .sidenav-menu-nested a {
    padding-left: 1.5rem !important;
}
.sidebar li .sidenav-menu-nested {
    border-left: 1px solid #a8a8a8;
    margin-left: 25px; /* Adjust this value to align the line */
}

.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.modal-body {
  max-height: 60rem;
  overflow-y: auto;
}
@media (max-height: 1080px) {
  .modal-body {
      max-height: 50rem;
  }
}

@media (max-height: 900px) {
  .modal-body {
      max-height: 48rem;
  }
}

@media (max-height: 864px) {
  .modal-body {
      max-height: 45rem;
  }
}
@media (max-height: 820px) {
  .modal-body {
      max-height: 43rem;
  }
}

@media (max-height: 768px) {
  .modal-body {
      max-height: 40rem; 
  }
}

@media (max-height: 700px) {
  .modal-body {
      max-height: 35rem; 
  }
}
@media (max-height: 668px) {
  .modal-body {
      max-height: 33rem; 
  }
}
@media (max-height: 600px) {
  .modal-body {
      max-height: 30rem; 
  }
}

.bg-opacity-10 {
  opacity: 0.1;
}

.bg-opacity-25 {
  opacity: 0.25;
}

.bg-opacity-50 {
  opacity: 0.5;
}

.bg-opacity-75 {
  opacity: 0.75;
}

.bg-opacity-100 {
  opacity: 1;
}

/* Payroll CSS */

.actlist_col{
	text-align:center;
	width:75px;
}
span.masked_obj{
	display:block;
	width:25px;
	height:25px;
	margin:0 auto;
}
span.masked_obj input{
	display:none;
}
span.masked_obj, td.masked_col{
	color:transparent;position:relative;
}
@keyframes spinner{
	to {transform:rotate(360deg);}
}
span.masked_obj:before, td.masked_col:before{
	color:blue !Important;
	content:' ';
	box-sizing:border-box;
	position:absolute;
	top:50%;
	left:50%;
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px;
	border-radius:50%;
	border:2px solid #ccc;
	border-top-color:#000;
	animation:spinner .6s linear infinite;
}

.sect_bg{
	display:none;
}

.actdrop_col button{
	height:20px !Important;
	width:20px !Important;
	float:right;
}
/*
.actdrop_col .dropdown-menu{
	height:50px;
	overflow-y:scroll;
}
*/
td.details-control{
	position: relative;
}
td.details-control::before {
	position: absolute;
	font-family:"Font Awesome 5 Free";
	font-weight: 900;
	content: "\f358";
	cursor: pointer;
}
tr.shown td.details-control::before {
	content: "\f35b";
}

td.actlist_col .freeze,
td.actlist_col .finalize{
	width:20px !Important;
	height:20px !Important;
	margin-top:6px;
}

td.actlist_col .opts_held{
	margin-top:-12px;
	margin-right:-10px;
}

#emptable tbody tr td{
	line-height:28px;
}

#facilityDropdown{font-size:14px;}
#facilityDropdown.dropdown-toggle::after{margin-top:1px;}
#addNewFacility{min-width:300px; left:-30px !Important; border:2px solid #f0e68c;}

/*--datatable-scroll--*/
.dt_scroll_bars .dataTables_wrapper.dt-bootstrap4{
  overflow:hidden;
}
.dt_scroll_bars .dataTables_wrapper.dt-bootstrap4 div.row:nth-child(2){
  overflow-x:scroll;
}
/*--datatable-scroll--*/

td a.btn-datatable.btn-icon{
	display:inline-block;
	text-align:center;
}
ul.select_optlist{
	max-height:400px;
	overflow-y:auto;
}
ul.select_optlist .select_opthead{
	position:sticky;
	background:white;
	top:-2px;
	
	font-size:15px;
}

/*custom-scrollbar-like-sidenav-menu*/
.select_optlist::-webkit-scrollbar{
	display:block;
	width:0.5rem
}

.select_optlist::-webkit-scrollbar-button{
	width:0;
	height:0;
	display:none;
}

.select_optlist::-webkit-scrollbar-corner{
	background-color:transparent;
}

.select_optlist::-webkit-scrollbar-thumb{
	background-color:#c5ccd6;
	border-color:rgba(0, 0, 0, 0);
}

.select_optlist::-webkit-scrollbar-thumb{
	border-radius:10rem;
	height:3em;
	border-width:0.1rem;
	border-style:solid;
	background-clip:padding-box;
}

.select_optlist::-webkit-scrollbar-track{
	background-color:rgba(31, 45, 65, 0.05);
}
/*custom-scrollbar-like-sidenav-menu*/

/*chosen*/
.chosen-container-single .chosen-single{
	height:calc(1.5em + 0.5rem + 10px) !Important;
	line-height:34px !Important;
}
.chosen-container-single .chosen-single div{
	top:6px !Important;
}

