/* @font-face { font-family: 'Karla'; src: url('/site/assets/fonts/Karla-ExtraBold.woff2') format('woff2'), url('/site/assets/fonts/Karla-ExtraBold.woff') format('woff'); font-weight: bold; font-style: normal; font-display: swap;}
@font-face { font-family: 'Karla'; src: url('/site/assets/fonts/Karla-Light.woff2') format('woff2'), url('/site/assets/fonts/Karla-Light.woff') format('woff'); font-weight: 300; font-style: normal; font-display: swap;}
@font-face { font-family: 'Karla'; src: url('/site/assets/fonts/Karla-Bold.woff2') format('woff2'), url('/site/assets/fonts/Karla-Bold.woff') format('woff'); font-weight: bold; font-style: normal; font-display: swap;}
@font-face { font-family: 'Karla'; src: url('/site/assets/fonts/Karla-Medium.woff2') format('woff2'), url('/site/assets/fonts/Karla-Medium.woff') format('woff'); font-weight: 500; font-style: normal; font-display: swap;}
@font-face { font-family: 'Karla'; src: url('/site/assets/fonts/Karla-Regular.woff2') format('woff2'), url('/site/assets/fonts/Karla-Regular.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap;}
@font-face { font-family: 'Karla'; src: url('/site/assets/fonts/Karla-SemiBold.woff2') format('woff2'), url('/site/assets/fonts/Karla-SemiBold.woff') format('woff'); font-weight: 600; font-style: normal; font-display: swap;} */

:root { 
    /* --themeFontFamily: 'Karla'; 
    --themecolor: #000000; 
    --themehovercolor: #0e3946; 
    --primaryColor: #0C4475;
    --secondaryColor: #155263;
    --dangerColor: #DD3444;
    --themeBgColor1: #E7EDF2;
    --themeBgColor2: #CEDAE3; */
 }
/* 
body { background: var(--themeBgColor1); color: var(--themecolor);  line-height: 1.45;
    font-family: var(--themeFontFamily) ;
} */




